<div class="page">
  <% @comments.each do |comment| %>
    <div class="row comment-unit">
      <div class="pull-left">
        <%= image_tag comment.user.profile.image.url, class: 'img-responsive icon commenter-icon' %>
      </div>
      <div class="pull-left">
        <div class="commenter-name">
          <%= comment.user.name %>
        </div>
        <div class="comment-text">
          <%= comment.text %>
        </div>
      </div>
    </div>
  <% end %>
</div>
