<div class="overview-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="post-head text-center">ポートフォリオの概要</h3>
        <p>
          このポートフォリオサイトは「マイナーな楽曲をレビューする」というコンセプトのレビューサイトです。<br>
          ユーザーが楽曲のレビュー記事を投稿し、他のユーザーが評価・コメント・保存等できるものとなっています。<br>
          工夫した点は、楽曲の「レア度」を評価出来るようにし、世の中にあまり知られていない、けれども良い楽曲を見つけられるようにした点です。<br><br>
          実装した機能の例<br>
          ・投稿画像をAmazonS3で管理<br>
          ・複数ワード・複数条件検索(検索ロジックを作成)<br>
          ・急上昇ランキング(いいね数の集計結果をバッチ処理で1時間毎に更新)<br>
          ・各種ボタン、コメント処理の非同期化<br>
          ・レスポンシブデザイン<br>
          ・ユーザーアカウントの管理機能(メール認証、パスワードの再設定、アカウントの削除等)<br>
          ・APIを使用したTwitter認証機能<br>
        </p>
      </div>
    </div>
  </div>
</div>
