<div class="overview-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="post-head text-center">サイト概要</h3>
        <p>
          このポートフォリオサイトは「マイナーな楽曲をレビューする」というコンセプトのサイトです。
          ユーザーが楽曲の「レア度」を評価出来るようにし、世の中にあまり知られていない、けれども良い楽曲を探すことが出来るサイトとして作成しました。
        </p>
        <p>
          機能としては、ユーザー登録・記事の投稿・コメント・いいね！機能・投稿の保存・ユーザーのフォロー・複数条件検索等の標準的な機能を一通り実装し、
          開発に対する理解を深めるため、SNS認証や急上昇ランキング等の実践的な機能も実装するように心掛けました。
          就職してからも業務に必要な言語の学習を進め、仕事で力を発揮できるよう成長していきたいと考えております。
        </p>
      </div>
    </div>
  </div>
</div>
