<div class="overview-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="post-head text-center">サイト概要</h3>
        <p>
          このポートフォリオサイトは「マイナーな楽曲をレビューする」というコンセプトのサイトです。
          ユーザーが楽曲のレビュー記事を投稿し、その記事への評価やコメントができるものとなっています。
          ユーザーが楽曲の「レア度」を評価出来るようにし、世の中にあまり知られていない、けれども良い楽曲を探せるサイトとして作成しました。
        </p>
        <p>
          加えて実装した機能
          ・Amazon S3 への画像アップロード
          ・複数ワード・複数条件検索(検索ロジックを作成)
          ・急上昇ランキング(バッチ処理で集計結果を1時間毎に更新)
          ・各種ボタン、コメントの非同期化
          ・レスポンシブデザイン
          ・ユーザーアカウントの管理機能(メール認証、パスワードの再設定、アカウントの削除等)
          ・Twitter認証
        </p>
      </div>
    </div>
  </div>
</div>
