<div class="overview-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="post-head text-center">サイト概要</h3>
        <p>
          このポートフォリオサイトは「マイナーな楽曲をレビューする」というコンセプトのサイトです。<br>
          ユーザーが楽曲のレビュー記事を投稿し、その記事への評価やコメントができるものとなっています。<br>
          ユーザーが楽曲の「レア度」を評価出来るようにし、世の中にあまり知られていない、けれども良い楽曲を見つけられるサイトとして作成しました。<br><br>
          基本的な機能に加えて実装した機能<br>
          ・Amazon S3 への画像アップロード<br>
          ・複数ワード・複数条件検索(検索ロジックを作成)<br>
          ・急上昇ランキング(バッチ処理で集計結果を1時間毎に更新)<br>
          ・各種ボタン、コメントの非同期化<br>
          ・レスポンシブデザイン<br>
          ・ユーザーアカウントの管理機能(メール認証、パスワードの再設定、アカウントの削除等)<br>
          ・Twitter認証<br>
        </p>
      </div>
    </div>
  </div>
</div>
