<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>様</h1>
    <p><a href="http://localhost:3000/resisteration/<%= @user.id %>">こちら</a>から登録の完了をよろしくお願いします</p><br>
    <p>※本メールの有効期限は７日間です。期限内に登録が完了されない場合、登録内容は破棄されます。</p>
  </body>
</html>
