<% if @templete == 'bookmark_topic' %>
  <div class="col-md-4 col-md-offset-4 bar-unit"></div>
<% elsif @templete == 'follow_user' %>
  <div class="col-md-4 col-md-offset-8 bar-unit"></div>
<% else %>
  <div class="col-md-4 bar-unit"></div>
<% end %>
