body {
  font-size: 62.5%;
  background: #fcfcfc;
}

.alert {
  margin-bottom: 0px;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 10000;
  font-size: 1.62rem;
}

.error {
  border: solid 1px #fff;
  border-radius: 3px;
}

.error:last-of-type {
  margin-bottom: 30px;
}

a {
  color: #000 !important;
}

ul {
  list-style-type: none;
}

.navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(255,255,255,0.8);

  .navbar-brand {
    max-width: 200px;
    height: auto;
  }

}

.top-wrapper {
  padding: 50px 0;
}

.index-topics-wrapper, .new-users-wrapper, .index-users-wrapper, .new-topics-wrapper, .login-wrapper, .detail-wrapper, .overview-wrapper {
  padding: 110px 0;
}

.new-users-wrapper, .new-topics-wrapper, .login-wrapper, .overview-wrapper {
  font-size: 1.5rem;
}

.new-users-wrapper .btn, .new-topics-wrapper .btn, .login-wrapper .btn {
  margin-top: 20px;
}

.login-wrapper .sub, .new-users-wrapper .sub {
  text-align: center;
  margin-top: 50px;

  .new-user {
    margin-bottom: 10px;
  }
}

.list-header {
  border-bottom: solid 1px #000;
  padding-bottom: 10px;
  margin-top: 50px;
  font-size: 1.5rem;
}

.list-title {
  font-family: 'Osaka', sans-serif;
  text-decoration: none !important;
}

.bar-unit {
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  height: 10px;
}

.icon {
  border-radius: 50%;
}

.pages > nav, .pages > span {
  display: none;
}

.topics-contents, .rises-contents {
  margin-top: 40px;
  font-size: 1.2rem;
}

.head {
  font-weight: bold;
  color: #555 !important;
  margin-bottom: 15px;
}

.topic-unit {
  padding: 10px 0 35px;
}

.title {
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 470px;
  margin-top: 9px;
}

.title-text {
  font-weight: bold;
  color: #555 !important;
}

.page .evaluation {
  font-size: 1.2rem;
}

.page .name {
  font-size: 1.2rem;
}

.name-text {
  color: #777 !important;
}

.topic-unit .topic-thumbnail {
  max-height: 500px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.mask {
  overflow: hidden;
  border-radius: 3px;
}

.page .evaluate-button {
  font-size: 1.2rem;
}

.far, .fas {
  color: #ff6b66;
}

.detail-image {
  border-radius: 3px;
}

.detail-contents {

  .info {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .detail-title, .description {
    font-size: 2rem;
    margin-top: 10px;
  }

  .description {
    padding-top: 12px;
    padding-bottom: 50px;

    .description-head {
      border-bottom: 1px solid #222;
    }
  }

  .category {
    margin-top: 15px;
    color: #6b66ff;
    font-family: 'Osaka', sans-serif;
  }

  .category {
    margin-bottom: 5px;
  }

}

.line1 {
  display: none;
}

.line2 {
  display: block;
  margin-top: 3px;
}

.detail-evaluate-button {
  display: inline;
}

.comment-count {
  margin: 70px 0 15px;
}

.comment-unit {
  padding: 20px 0;
  border-bottom: solid 1px #eee;
}

.comment-form {
  margin-bottom: 30px;
}

.commenter-icon {
  max-height: 50px;
  max-width: 50px;
  height: 100%;
  width: auto;
  object-fit: cover;
  margin-right: 10px;
}

.commenter-name {
  font-size: 1.5rem;
}

.comment-text {
  font-size: 2rem;
  max-width: 720px;
}

#list-contents {
  margin-top: 50px;
}

.mypage-icon {
  max-height: 150px;
  max-width: 150px;
  height: 100%;
  width: auto;
  object-fit: cover;
}

.list-icon {
  max-height: 200px;
  max-width: 200px;
  height: 100%;
  width: auto;
  object-fit: cover;
}

.bookmark-topic-thumbnail, .post-topic-thumbnail {
  max-height: 70px;
  max-width: 70px;
  height: 100%;
  width: auto;
  object-fit: cover;
  margin-right: 15px;
}

.user-info {
  font-size: 1.5rem;

  .name, .evaluation, .introduce, .edit-button, .evaluate-button {
    margin-top: 10px;
  }

  .edit-button {
    /*border: solid 1px #000;*/
  }

  .introduce {
    margin-top: 19px;
    max-width: 660px;
  }
}

.user-name-text {
  font-size: 2rem;
  font-family: 'Osaka', sans-serif;
  font-weight: bold;
  color: #555 !important;
}

.fa-twitter {
  color: #55acee !important;
}

.destroy-topic {
  margin-top: 50px;
}

.post-head {
  margin-bottom: 30px;
}

.resisteration-head {
  margin-bottom: 30px;
}

.login-head {
  margin-bottom: 30px;
}

.profile-head {
  margin-bottom: 30px;
}

.edit-button {
  color: #ff6b66;
}

.edit-link {
  margin: 0;
  padding: 0;
}

.user-unit {
  padding-left: 4.5vw;
}

.description-form {
  height: 200px !important;
}

.profile-button {
  margin-right: 10px;
}

.follow-user-name {
  font-family: 'Osaka', sans-serif;
}

.dropdown-toggle {
  min-width: 178px;
  margin-bottom: 5px;
}

.search-form {
  min-width: 178px;
  margin-bottom: 20px;
}

.border {
  margin-top: 20px;
  border-bottom: solid 1px #ccc;
}

.navbar-brand {
  padding: 15px 0;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  font-size: 30px;
  margin: 13px 16px 0 0;
  float: right;
}

#pc-nav {
  display: none;
}

.fa-bars {
  color: #666 !important;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 200px;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

.header-btn {
  width: 200px;
  display: block;
  text-align: left;
  padding: 15px;

  &:hover {
    background-color: #ddd !important;
    text-decoration: none;
  }
}

@media (min-width: 544px) {

  .line1, .line2 {
    display: inline;
  }

  .detail-contents {

    .detail-title {
      margin-top: 0;
    }

    .description {
      margin-top: 0;
    }

    .category, .genre {
      display: inline;
    }

    .edit-link {
      float: none;
    }

  }

  .user-info-text {
    display: inline;
  }

  .user-unit {
    padding-left: 0;
  }

  .navbar-transparent {

    .navbar-brand {
      margin-left: 0;
      margin-top: 0;
    }
  }

  .topic-unit .topic-thumbnail {
    min-height: 155px;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .rise-unit {
    padding: 10px 0 0 0 !important;
  }

  .rise-unit:nth-of-type(4) {
  }

  .user-info {
    .name {
      margin-top: 0;
    }
  }

}

@media (min-width: 768px) {

  .thumbnail-wrapper {
    max-width: 244px;
    max-height: 151px;
  }

  .mask {
    height: 151px;
  }

  .line1 {
    display: none;
  }

  .line2 {
    display: block;
    margin-top: 3px;
  }

  .header-btn {
    width: 97px;
    display: inline-block;
    padding: 19px 0;
    text-align: center;

    &:hover {
      background-color: #ddd !important;
      text-decoration: none;
    }
  }

  .navbar-brand {
    padding: 15px;
  }

  #nav-open {
    display: none;
  }

  #pc-nav {
    display: block;
  }

  .top-wrapper {
    padding: 65px 0;
  }

}

@media (min-width: 992px) {

  .line1 {
    display: inline;
  }

  .line2 {
    display: inline;
    margin-top: 0;
  }

  .header-btn {
    min-width: 105px;
  }

  .search-btn {
    margin-right: -14px;
  }

  .top-wrapper {
    padding: 55px 0;
  }

}

@media (min-width: 1200px) {

  .header-btn {
    min-width: 111px;
  }

  .search-btn {
    margin-right: 25px;
  }

}
