<p>登録用メールアドレスの変更 <%= @email %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>登録用メールアドレスが <%= @resource.unconfirmed_email %> に変更されていることを通知します。</p>
<% else %>
  <p>登録用メールアドレスが <%= @resource.email %> に変更されたことを通知します。</p>
<% end %>
