<p>パスワードの再設定 <%= @resource.email %></p>

<p>こちらはパスワード再設定用のメールです。 <%= link_to 'こちら', edit_password_url(@resource, reset_password_token: @token) %> からパスワードの変更をお願い致します。</p>
<p>※パスワード変更の操作を行っていない場合、こちらのメールは無視してください。</p>
